.background-section-1{
    background-color: rgb(245, 240, 230)
}

.background-section-2{
    background-image: url("bg-orbs-1.jpg");
}

.inline-block-style{
    display: inline-block;
    scroll-margin-top: 140px;
}

.white-font{
    color: white;
}

li{
    display: inline;
}

#navbar{
    position: sticky;
    top: 0;
    font-size: 28px;
    background-color: white;
}

li a:hover{
    color: white;
    background-color: #182b49;
    padding: 16px;
}

.grid-style{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.grid-item-style{
    color: white;
    max-height: 500px;
    overflow: scroll;
    background-color: #182b49;
    margin: 0;
}

.ul-style{
    margin-top: 8px;
    margin-bottom: 16px;
    padding-left: 8px;
}

.remove-underline{
    text-decoration: none;
}

.images-style{
    max-width: 100%;
}

@media screen and (max-width: 800px){
    .mobile-style{
        display: none;
    }

    .images-style{
        max-width: 75%;
    }

    .mobile-title{
        font-size: 24px;
    }

    .mobile-text{
        font-size: 20px;
    }

    .grid-style{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }
}